*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 80px;
    background-color: #000000eb;
    position: sticky;
}

.container img{
    height: 80px;
    width: 80px;
    border-radius: 100%;
}

h1{
    align-items: center;
    justify-content: center;
    display: block;
    height: 81px;
    text-align: center;
    font-size: 58px;
    margin-top: -82px;
    color: white;
    font-family: 'Castoro', serif;
    display: block;
}