    *{
        margin: 0;
        padding: 0;
    }
    /* html{
        scroll-behavior: smooth;
    } */

     #contact{
        position: relative;
    }
    #contact::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0.8;
        /* background: url('../contact.jpg') no-repeat center center/cover; */
    }

    #contact-box{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 36px;
    }
    #contact-box input,#contact-box textarea{
        width: 100%;
        padding: 0.5rem;
        border-radius: 9px;
        font-size: 1.2rem;
    }

    #contact-box form{
        width: 40%;
    }

    #contact-box label{
        font-size: 1.5rem;
        /* font-family: 'Sansita Swashed', cursive; */
    }

    h1{
        text-align: center;
    }

    .btn{
        padding: 8px 20px;
        height: 65px;
        width: 150px;
        margin: 40px 216px;
        border: 2px solid grey;
        font-size: 34px;
        border-radius: 9px;
        background: none;
        cursor: pointer;
        background: #8080809e;
        font-family: 'Castoro', serif;
    }

    .btn:hover{
        background: #e3edf7;
        
    }