*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #c7c0ff59;
}

.navbar{
    display: flex;
    align-items: center;
    height: 65px;
    /* position: sticky; */
    top: 0;
}
.nav{
   width: 60%;
   display: flex;
   align-items: center;
}

.nav li{
    list-style: none;
    padding: 26px 30px;
}

.nav li a{
    color: black;
    text-decoration: none;
    padding: 10px 0px;
    background: #ddd6e3b8;
    display: inline;
    padding: 12px 18px;
    margin: 0 30px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 100;
    cursor: pointer;
}
.nav li a:active{
     text-decoration: none;
     background: #000;
     color: #fff;
}

.sitename a{
    text-decoration: none;
    width: 40%;
    height: 81px;
    text-align: right;
    font-size: 25px;
    color: black;
}

.logo{
    width: 12%;         
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    height: 70px;
    width: 70px;
    border-radius: 100%;
}

.background{
    background: rgba(0, 0, 0, 0.884)url('../img/a2.jpeg');
    background-size: cover;
}
.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
    height: 90%;
}

.firstsection{
    height: 95vh;
}

.firsthalf{
    width: 51%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.firsthalf p{
    margin-top: 80px;
}

.motive{
   font-size: 45px;
   margin-bottom: -50px;
   text-align: center;
}

.text{
  font-size: 23px ;
  margin: 20px;
  margin-bottom: 35px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.location{
    text-align: center;
}

.location input{
    width: 200px;
    height: 20px;
    padding: 3px 7px;
    margin: 8px 20px;
    background-color: rgb(203 194 194);
    font-size: 13px;
    border: 2px solid rgba(0, 0, 0, 0.678);
    outline: none;
   
}

.city{
    width: 500px;
    height: 35px;
    margin: 7px 0px;
    background-color: rgba(59, 40, 40, 0.87);
    font-size: 11px;
    color: white;
    cursor: pointer;
    outline: none;
}



/* services section  */
      #services{
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }
    
     #services .box{ 
        position: relative;
        display: flex;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
        height: 260px;
        background: #f2f2f2;
        background-color: #004b8014;
        text-align: center;
        overflow: hidden;
        width: 380px;
        margin: 30px;
        justify-content: center;
    }

    #services .box img{
        height: 208px;
        width: 380px;

    }
    #services .box p{
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: 1.1rem;
      color: rgba(0, 0, 0, 0.795);
    }

    .box h2{
       
        color: black;
    }

    .box a{
        list-style: none;
        text-decoration: none;
    }


/* specification */

#specification{
    background-color: rgba(0, 0, 0, 0.767);
    /* height: 39vh; */
}

.spec{
    padding: 20px;
}

.spec li{
    list-style: none;
    padding: 17px 0px;
}

.spec li a{
    text-decoration: none;
     color: white;
     font-size: 21px;
}

.spec li a:hover{
    text-decoration: none;
    color: gray;
    
}

.last{
    border: 1px solid grey;
}


/* social media  */


#social{
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 35x;
    font-family: sans-serif;
    font-weight: normal;
    letter-spacing: 4px;
    color: #55;
    text-align: center;
}

.social-m{
    display: flex;
    justify-content: center;
    background: #e3edf7;
}
.social-m a{
    display: flex;
    background:  #e3edf7;
    height: 70px;
    width: 70px;
    margin: 50px 27px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),-6px -6px 10px -1px rgba(255,255,255,0.7);
    border: 1px solid rgba(0,0,0,0);
    transition: tranform 0.5s;
}

.social-m a i{
    font-size: 35px;
    color: #777;
    transition: transform 0.5s;
}

.social-m a:hover{
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),inset -4px -4px 6px -1px rgba(255,255,255,0.7),-0.5px -0.5px 0px rgba(255,255,255,1),0.5px 0.5px 0px rgba(0,0,0,0.15),0px 12px 10px -10px rgba(0,0,0,0.05);   
    border: 1px solid rgba(0,0,0,0.01);
    transform: translateY(2px);
}

.social-m a:hover i{
    transform: scale(0.90);
}

#facebook:hover{
    color: #3b5998;
}

#instagram:hover{
    color: #f14843;
}

#whatsapp:hover{
    color: #4fce5d;
}

#twitter:hover{
    color: #00acee;
}
.footer{
    text-align: center;
    color: black;
    font-family: sans-serif;
    font-size: 17px;
     /* margin-top: 225px;315 */
}

/* phone menu  */

.menu{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 8%;
    top: 15px;
}


@media only screen and (min-width:320px) and (max-width:767px){
    body{
        width: 100%;
    }
    .nav{
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
        height: 405px;
    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    .sitename{
        width: 22%;
        font-size: 25px;
    }

    .sitename li{
        width: 22%;
        font-size: 25px;
    }
    .menu{
        display: block;
    }
    .h-nav-resp{
        height: 76px;
    }
    .v-class-resp{
        opacity: 0;
    }
    .right1 {
        flex-direction: column-reverse;
    }
    .right2 {
        flex-direction: column-reverse;
    }
    .left1 {
        flex-direction: column-reverse;
    }
    .left2 {
        flex-direction: column-reverse;
    }
    .motive{
        text-align: center;
    }
    .text{
        text-align: center;
    }
    .buttons{
        text-align: center;
    }
    .secondhalf img{
        margin-top: 130px;
        height: 100px;
        width: 100px;
    }
    
.firsthalf{
    margin-top: 20px;
}

 #specification {
    height: 39vh;
}
