*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 80px;
    background-color: #000000eb;
    position: sticky;
}

.container img{
    height: 80px;
    width: 80px;
    border-radius: 100%;
}

h1{
    align-items: center;
    justify-content: center;
    display: block;
    height: 81px;
    text-align: center;
    font-size: 58px;
    margin-top: -82px;
    color: white;
    font-family: 'Castoro', serif;
    display: block;
}

/* start page  */

     .p{
    color: black;
     }

     #contact{
    position: relative;
    margin: 130px;
     }

     #contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 36px;
     }
     #contact-box input,#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    margin: 11px 0px;
    border-radius: 9px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    background: #e3edf7;
     }

    .form-group input{
    display: flex;
    background:  #e3edf7;
    height: 70px;
    width: 70px;
    margin: 50px 27px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: 6px 6px 10px -1px,-6px -6px 10px -1px rgba(255,255,255,0.7);
    border: 0px solid rgba(0,0,0,0);
    transition: tranform 0.5s;
     }
    .form-group input{
    font-size: 35px;
    color: #777;
    transition: transform 0.5s;
    font-family: 'Castoro', serif;

}
    .form-group input:hover{
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),inset -4px -4px 6px -1px rgba(255,255,255,0.7),-0.5px -0.5px 0px rgba(255,255,255,1),0.5px 0.5px 0px rgba(0,0,0,0.15),0px 12px 10px -10px rgba(0,0,0,0.05);   
    border: 1px solid rgba(0,0,0,0.01);
    transform: translateY(2px);
}
    .form-group input:hover{
        transform: scale(0.90);
    }

     #contact-box form{
         width: 40%;
     }

     #contact-box label{
         font-size: 1.5rem;
         /* font-family: 'Sansita Swashed', cursive; */
     }

         .btn{
            padding: 8px 20px;
            height: 65px;
            width: 150px;
            margin: 40px 216px;
            border: 2px solid grey;
            font-size: 34px;
            border-radius: 9px;
            background: none;
            cursor: pointer;
            box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),inset -4px -4px 6px -1px rgba(255,255,255,0.7),-0.5px -0.5px 0px rgba(255,255,255,1),0.5px 0.5px 0px rgba(0,0,0,0.15),0px 12px 10px -10px rgba(0,0,0,0.05);   
            border: 1px solid rgba(0,0,0,0.01);
            transform: translateY(2px);
            background: #8080809e;
            font-family: 'Castoro', serif;
        }
        
        .btn:hover{
            background: #e3edf7;
            
        }

        #login{
            font-size: 20px;
            font-family: 'Castoro', serif;
        }

        #login a{
            text-decoration: none;
            color: blue;
        }

        #login a:hover{
            text-decoration: underline;
        }

        #term a{
            text-decoration: none;
        }

        #term a:hover{
            text-decoration: underline;
        }
        #footer{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            color: white;
           background-color:  #000000d2;
           font-family: 'Castoro', serif;
        }
     
     